@keyframes color-change {
    0% {
    color: black;
    }
    
    50% {
    color: red;
    }
    
    100% {
    color: black;
    }
    }
    
    html {
        font-family: Arial, Helvetica, sans-serif;  
        background-color: black;
        color: cornsilk;
    }


h1 {
    text-align: center;
   color: black;
    position: relative;
    text-shadow: -2px 2px 5px #FD6969;
}




.header-avatarka {
    width: 100%;
    height: 300px;
    padding: 0px;
    margin: 0px;   
  position: relative;

    
     
}

.avatarka{
border-radius: 60%;
position: relative;
top: 20%;
left: 42%;
width: 15%;







}

img {
 
}

h3 {
 
    padding: 0px;
}
    

.color-change {
    animation: color-change 5s infinite;
    margin-top: 10%;
    text-align: center;
}




.about-me {
    margin-top: 15%;
text-align: center;

animation: color-change 5s infinite;
}

.p-about-me {
text-align: center;

}

.contacts-header {
    margin: 4%;
    line-height: 0%;
    animation: color-change 5s infinite;
}

.contacts {
margin: 0%;
text-align: center;
line-height: 38px;



}



.header-location {
display: inline;
border: solid;
padding: 5px;
margin-top: 20px;
border-color: darkred ;

line-height: 20%;


}
.header-phone {
    display: inline;
    border: solid;
padding: 5px;

border-color: darkred ;
}
.header-telegram {
    display: inline;
    border: solid ;
padding: 5px;

border-color: darkred ;
}
.header-discord {
    display: inline;
    border: solid;
padding: 5px;

border-color: darkred ;
}
.header-email {
    display: inline;
    border: solid;
padding: 5px;

border-color: darkred ;
}
.header-gihub {
    display: inline;
    border: solid;
padding: 5px;
margin-left:  3px;
border-color: darkred ;

}

.code-div {
    text-align: center;

background-color: antiquewhite;
width: 35%;
border-radius: 20%;

}


.skills {
   display: inline; 
}

.code-example {
    display: inline; 
}

.div-experience {
    display: inline; 
}
 
.div-education {
    display: inline; 
}


.code-text {
    
    color: #FD6969;
    font-size: 40px;

}

span.blue-p {
    color: blue;
}

footer {
    width: 100%;
    height: 100%;
    background-color: grey;
}


.footer-cr {
    text-align: center;
    
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#rsicon {
margin-top: 5%;
    width: 11.5%;
    height: 8%;
}

#my-github{
margin-left:  39%;
width: 6.9%;
height: 8%;
margin-top: 5%;
}

#my-vk {
    width: 3.9%;
    height: 3%;
    margin-top: 5%;
}