html {
    scroll-behavior: smooth;  
  }

body{
    background-color: aliceblue;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0; padding: 0;
}

* {
    box-sizing: border-box; 
  }



header {
    background-image: linear-gradient(to right, #434343 0%, black 100%);

    background-repeat: no-repeat;
    background-size: cover;  
    background-attachment: fixed;
}



.nav {
}

.nav-list {
    list-style: none;
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    width: 100%;      
    padding-right: 5%;
}

.nav-item {
    font-size: 16px; 
}

.nav-link:hover {
    background-color: #09eb27;
    line-height: 0px;

}

.container-header {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.section {
    width: 50%;    
}

.container {
    max-width: 1440px;
    margin: 0;
    height: 100%;

}


li {
}
   


.main-container {
    display: flex;
    border: 5px #006bf7 solid;
    border-left:  none;
    border-right: none;
    border-bottom: none;
    flex-wrap: wrap;
    margin: 3% 20% 3% 20%;
}

#my-img{
    border-radius: 70%;
    width: 200px;
    padding-top: 2%;
    margin-bottom: 0px;  
}

.h1-header{
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 2%;
}

.li-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;

}

.li-item-2 {
    font-size: 16px;
    line-height: 0px;
    font-weight: 500;
}

.div-contacts {
    border-top: 5px #f3f700 solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-about-me {
    border-top: 5px #f3f700 solid;
}

.div-skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.div-code-example{
    margin-bottom: 10%;
    text-align: center;
}

.div-experience{

}

.cv {
padding-left: 50%;
}

.inter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  

}

.div-education{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-english{
    width: 100%;
    height: 100%;
    border-left: none;
    border-right: none;
    margin-top: 0%;
    


}

.english {
    width: 100%;
    display: flex;
}






.h2-div-about-me{
}

h2 {
    text-align: center;
    color: blue;
}

.p-about-me{
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    text-align: center;
}

.code-text {
    font-size: 16px;
    background-color: rgb(209, 204, 204);
}

.p-code{
    color: #2500f7;
    font-weight: 800;
}

.text-style {
    font-weight: 900;
}



.li-skills {
}

.link {
    text-decoration: none;
    color: #f7e603;
    transition: color 0.5s;
    font-weight: bold;
    text-shadow: -2px 5px 5px #020f00;   
}
  
footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -0px -5px 10px #f3f700; 
    background-image: linear-gradient(to right, #434343 0%, black 100%);
}

#my-github {
    width: 45px ;
    height: 30px ;
}

#rsschool {
    width: 60px;
    height: 30px;
}

#my-vk {
    width: 30px;
    height: 30px;

}

.h5-footer {
    text-align: center;
    margin: 0;
    padding: 0;

}

.text-shadow {
    text-shadow: -2px 2px 5px #1df700; 
}

.text-shadow-v2 {
    text-shadow: -2px 2px 5px #f7f300; 
}

.text-shadow-v3 {
    text-shadow: -2px 5px 10px #006bf7; 
}

.box-shadow {
    box-shadow: -2px 5px 10px #006bf7; 
}

.ilya {
    text-shadow: -2px 5px 10px #006bf7; 
}

@media (max-width: 768px) {
    .section {
        width: 100%;
   }
}


@media (max-width: 768px) {
    .nav-item{
        font-size: 12px;
    }
}

@media (max-width: 460px) {
    .nav-item{
        font-size: 8px;
    }
}

@media (max-width: 329px) {
    .nav-item{
        font-size: 5px;
    }
}

@media (max-width: 377px) {
    .li-item{
        font-size: 15px;
    }  
}

@media (max-width: 768px) {
    .div-about-me {
        border-top: none;
    }
}